body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../新页面_1_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:59px;
    top:62px;
    width:114px;
    height:161px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:167px;
}

.u1 {
    position:absolute;
    left:2px;
    top:72px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:68px;
    top:154px;
    width:105px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:68px;
    top:175px;
    width:105px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:68px;
    top:196px;
    width:105px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_container {
    position:absolute;
    left:67px;
    top:69px;
    width:100px;
    height:73px;
}

#u5_img {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:73px;
}

.u6 {
    position:absolute;
    left:2px;
    top:28px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../新页面_1_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:120px;
    top:193px;
    width:18px;
    height:18px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:18px;
    height:18px;
}

.u8 {
    position:absolute;
    left:2px;
    top:1px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../新页面_1_files/u0_normal.png');
}

.u9_container {
    position:absolute;
    left:190px;
    top:62px;
    width:114px;
    height:161px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:167px;
}

.u10 {
    position:absolute;
    left:2px;
    top:72px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:199px;
    top:154px;
    width:105px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:199px;
    top:175px;
    width:105px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:199px;
    top:196px;
    width:105px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_container {
    position:absolute;
    left:198px;
    top:69px;
    width:100px;
    height:73px;
}

#u14_img {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:73px;
}

.u15 {
    position:absolute;
    left:2px;
    top:28px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../新页面_1_files/u7_normal.png');
}

.u16_container {
    position:absolute;
    left:251px;
    top:193px;
    width:18px;
    height:18px;
}

#u16_img {
    position:absolute;
    left:0px;
    top:0px;
    width:18px;
    height:18px;
}

.u17 {
    position:absolute;
    left:2px;
    top:1px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../新页面_1_files/u0_normal.png');
}

.u18_container {
    position:absolute;
    left:322px;
    top:62px;
    width:114px;
    height:161px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:167px;
}

.u19 {
    position:absolute;
    left:2px;
    top:72px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:331px;
    top:154px;
    width:105px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:331px;
    top:175px;
    width:105px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:331px;
    top:196px;
    width:105px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_container {
    position:absolute;
    left:330px;
    top:69px;
    width:100px;
    height:73px;
}

#u23_img {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:73px;
}

.u24 {
    position:absolute;
    left:2px;
    top:28px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../新页面_1_files/u7_normal.png');
}

.u25_container {
    position:absolute;
    left:383px;
    top:193px;
    width:18px;
    height:18px;
}

#u25_img {
    position:absolute;
    left:0px;
    top:0px;
    width:18px;
    height:18px;
}

.u26 {
    position:absolute;
    left:2px;
    top:1px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../新页面_1_files/u0_normal.png');
}

.u27_container {
    position:absolute;
    left:451px;
    top:62px;
    width:114px;
    height:161px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:167px;
}

.u28 {
    position:absolute;
    left:2px;
    top:72px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:460px;
    top:154px;
    width:105px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:460px;
    top:175px;
    width:105px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:460px;
    top:196px;
    width:105px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_container {
    position:absolute;
    left:459px;
    top:69px;
    width:100px;
    height:73px;
}

#u32_img {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:73px;
}

.u33 {
    position:absolute;
    left:2px;
    top:28px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../新页面_1_files/u7_normal.png');
}

.u34_container {
    position:absolute;
    left:512px;
    top:193px;
    width:18px;
    height:18px;
}

#u34_img {
    position:absolute;
    left:0px;
    top:0px;
    width:18px;
    height:18px;
}

.u35 {
    position:absolute;
    left:2px;
    top:1px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../新页面_1_files/u0_normal.png');
}

.u36_container {
    position:absolute;
    left:581px;
    top:62px;
    width:114px;
    height:161px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:167px;
}

.u37 {
    position:absolute;
    left:2px;
    top:72px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:590px;
    top:154px;
    width:105px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:590px;
    top:175px;
    width:105px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:590px;
    top:196px;
    width:105px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_container {
    position:absolute;
    left:589px;
    top:69px;
    width:100px;
    height:73px;
}

#u41_img {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:73px;
}

.u42 {
    position:absolute;
    left:2px;
    top:28px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../新页面_1_files/u7_normal.png');
}

.u43_container {
    position:absolute;
    left:642px;
    top:193px;
    width:18px;
    height:18px;
}

#u43_img {
    position:absolute;
    left:0px;
    top:0px;
    width:18px;
    height:18px;
}

.u44 {
    position:absolute;
    left:2px;
    top:1px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../新页面_1_files/u0_normal.png');
}

.u45_container {
    position:absolute;
    left:713px;
    top:62px;
    width:114px;
    height:161px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:167px;
}

.u46 {
    position:absolute;
    left:2px;
    top:72px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:722px;
    top:154px;
    width:105px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:722px;
    top:175px;
    width:105px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:722px;
    top:196px;
    width:105px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_container {
    position:absolute;
    left:721px;
    top:69px;
    width:100px;
    height:73px;
}

#u50_img {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:73px;
}

.u51 {
    position:absolute;
    left:2px;
    top:28px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../新页面_1_files/u7_normal.png');
}

.u52_container {
    position:absolute;
    left:774px;
    top:193px;
    width:18px;
    height:18px;
}

#u52_img {
    position:absolute;
    left:0px;
    top:0px;
    width:18px;
    height:18px;
}

.u53 {
    position:absolute;
    left:2px;
    top:1px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

